/* 浮动导航栏 Begin */
#floatMenu
{
    padding-top: 5px;
    position: relative;
    top: 0px;


}
.first
{
    background-color: #eeeeee;
}
.second
{
    background-color: #ffffff;
}
.context
{
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding:10px ;
    height: inherit;
}
div #WaitingSlice, div#RunningSlice
{
    padding: 2px;
}
div .part
{
    border: 2px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 10px 10px 20px 10px;
    padding: 10px;
}
.timeInput
{
    width: 8.33333333%;
    float: left;
}
#Topology
{
    margin: 10px 10px 10px 10px;
    padding: 10px;

}

#modelType
{
    position: static;
    height: 500px;
    width: 800px;

}
.part2
{
    margin: 10px 20px 10px 20px;
    padding: 10px;
}
#Order
{
      text-align: right;
}
.timeWidth {
    border: solid 1px #8D8D8D;
    width: 720px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;

}
.timeBlock
{
    position: absolute;
    left: 50px;
    height: 30px;
    width: 50px;
   background-color: #337ab7;
    border-radius: 5px;

}
