.loginDiv
{
    height: 100px;
    width: 100px;
    border:#000000 10px;
}
.loginForm
{
 
    border-radius: 5px;
    width: 400px;
    height: 350px;
    margin:150px auto;
    background-color: #ffffff;
}
.loginForm legend
{
    color: #000000;
    text-align: center;
    font-weight: 300;
    font-family:Helvetica, Arial, sans-serif;
    margin: 45px 45px 15px 45px;
    font-size: 60px;
    line-height: 38px;
}
.loginForm input
{
    width: 300px;
    background: #fcfcfc;
    border: 2px solid #e7e7e7;
    margin: 10px auto;
    padding: 15px;

    display: block;
    border-radius: 3px;
    font-size: 18px;
    transition: opacity 0.4s;
    text-align: left;

}
.loginForm #inputPassword
{
    position: relative;
    top:20px;
}
.btn
{
    width: 330px;
    margin: 10px auto;
    padding: 10px;
    display: block;
    border-radius: 3px;
    font-size: 18px;
    opacity 0.4;
    position: relative;
    top:40px;
}
